body {
    font-family: 'Poppins', sans-serif;
}

.formcontainerr h4 {
    color: black !important;
    font-size: 20px;
}

.formcontainerr h2 {
    color: #4682A9 !important;
    font-size: 55px;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 65px;
}

.formcontainerr {
    background: white;
    border-radius: 40px;
    padding: 40px;
}

/* login form  */
.loginform {
    padding-top: 30px;
}

.loginform input {
    margin-bottom: 45px;
    border-radius: 10px;
    border: 1px solid #4285F4;
    padding: 13px 20px;
    font-size: 14px;
    color: #808080;
}

.loginform input::placeholder {
    font-size: 14px;
    color: #808080;
}

.loginform label {
    font-size: 16px;
    color: black;
}

.loginform .signInBtn {
    font-size: 16px;
    width: 100% !important;
    border-radius: 10px;
    background: #4682A9;
    padding: 11px 0;
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
}

.loginform .signInBtn:hover {
    background: #fd78ad !important;
}

/* NavBar  */

.header nav.navbar {
    background: #4682A9 !important;
    padding: 5px 20px;
}


.header .navbarlogo {
    width: 16%;
}

.not-img {
    width: 33px !important;
    margin: 0 auto;
}

.dropdown-toggle::after {
    display: none !important;
}

.topbar li.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbar li.nav-item.dropdown img {
    width: 60px;
}

.topbar li.nav-item.dropdown {
    margin-left: 20px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    left: -86%;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dropdown-item:hover {
    background: transparent;
}

/* sidebar */

.header {
    position: fixed;
    top: 0;
    z-index: 9;
}

.sidebar-main {
    position: fixed;
    top: 11.5%;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.06) 1.95px 2.6px;
    padding: 40px 20px;
    width: 20%;
    left: 0px;
    display: flex;
    flex-direction: column;
    JUSTIFY-CONTENT: SPACE-BETWEEN;
    height: 90%;
}

.sidebar-main li {
    list-style: none;
}

.sidebar-main ul {
    padding: 0;
    margin: 0;
}

.sidebar-main a {
    font-size: 16px;
    color: #6A6A6A;
    text-decoration: none;
}

.sidebar-items li {
    /* background: rebeccapurple; */
    border-radius: 12px;
    padding: 15px 20px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}

.sidebar-items li img {
    margin-right: 10px;
}

.sidebar-items li:hover {
    background: #4682a9;
}

.sidebar-items li:hover a {
    color: white;
    transition: 0.6s;
}

.sidebar-items li:hover img {
    filter: brightness(0) invert(1);
    transition: 0.6s;
}

.sidebar-items li img {
    height: 22px;
    object-fit: cover;
}

.endBtn li {
    background: #4682a9;
    border-radius: 12px;
    text-align: center;
    padding: 14px 0;
}

.endBtn li a {
    color: white;
}

.endBtn li img {
    margin-right: 12px;
}


/* calendar */

.conatiner.calenderMain {}

.calenderMain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-right: 0;
    margin-top: 8%;
    overflow-y: hidden !important;
}

.calenderMain .conatiner {
    background: white;
    width: 85%;
    border-radius: 13px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.calenderMain .conatiner .innersection {
    height: 420px;
    overflow: auto;
}

.calenderMain h2 {
    text-align: center;
    background: #4682a9;
    padding: 18px 0;
    border-radius: 12px 12px 0 0px;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
}

.calenderMain .sec1 h3 {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    border-bottom: 2px solid black;
    width: fit-content;
    margin: 20px auto;
    /* margin-top: 20px; */
}

.calenderMain .sec1 ul {
    margin: 0;
    padding: 0;
}

.calenderMain .sec1 ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 15px 30px;
}

.calenderMain .sec1 ul li:nth-child(even) {
    background: #ebf0fa;
}

.calenderMain .sec1 ul li h5 {
    margin: 0;
}

.calenderMain .sec1 ul li p {
    margin: 0;
}

.calenderMain .sec1 ul li h5 {
    font-size: 18px;
}

/* supervisors */

.supervisorMain h2 {
    color: black;
    background: transparent;
    text-align: left;
    padding: 0 20px;
    border-bottom: 1px solid #E4E4E4;
    padding-bottom: 12px;
}

.mainmargins {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-right: 0;
    margin-top: 8%;
}

h2 {
    text-transform: capitalize;
    font-weight: 600;
}

.supervisorMain .super2 {
    display: flex;
    flex-direction: row !important;
    padding: 14px 10px;
}

.supervisorMain .super2 p {
    margin-right: 40px;
    color: #3C3C3C;
    font-weight: 500;
    margin-bottom: 0;
}

.supervisorMain p.availble_s {
    color: #0CBC8B !important;
}

.supervisorMain p.occupied_s {
    color: #F93333 !important;
}

.supervisorMain .super3 .col-3 {
    width: 31%;
    margin: 0 auto;
    padding: 0;
}

.supervisorMain .super3 {
    padding: 10px 17px;
}

.supervisorMain .supervisor_card {
    background: white;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 22px;
}

.supervisorMain .imgSec {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.supervisorMain .imgSec h4 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    margin-left: 10px;
}

.supervisorMain .supervisor_card p {
    color: #9A9A9A;
    font-size: 14px;
}

.supervisorMain .imgSec img {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 50%;
}

.supervisorMain .supervisorSchdule {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.supervisorMain .supervisorSchdule div {
    display: flex;
    align-items: center;
}

.supervisorMain .supervisorSchdule p {
    margin: 0;
    color: #3C3C3C;
    font-size: 14px;
    padding-left: 7px;
}

.supervisorMain .supervisor_card button {
    background: #4682A9;
    border: none;
    border-radius: 5px;
    width: 100%;
    color: white;
    padding: 9px 0;
}

.supervisorMain .supervisor_card:hover {
    background: #4682a9;
    transition: 0.6s ease-in;
}

.supervisorMain .supervisor_card:hover button {
    background: white;
    color: black;
    transition: 0.6s ease-in;
}

.supervisorMain .supervisor_card:hover p {
    color: white;

}

.supervisorMain .supervisor_card:hover .supervisorSchdule img {
    filter: brightness(0)invert(1);
}

.supervisorMain .supervisor_card:hover h4 {
    color: white;
}

/* student dashboard */


.stdDashMain .banner {
    width: 100% !IMPORTANT;
    background: linear-gradient(125deg, rgba(70, 130, 169, 1) 52%, rgba(223, 207, 247, 1) 100%);
    border-radius: 30px;
}

.stdDashMain .banner .row {
    display: flex;
    flex-direction: row;
}

.stdDashMain .bannertxt {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
}

.stdDashMain .bannerimg {
    width: 55%;
    margin: 0 auto;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stdDashMain .bannerimg img {
    width: 100%;
}

.stdDashMain {
    margin: 0 25px;
}

.stdDashMain .bannertxt p {
    color: white;
}

.stdDashMain .bannertxt h2 {
    color: white;
}

.stdDashMain .bannertxt p.curDate {
    margin-bottom: 30px;
}

.barcontainer {
    background-color: #9bc9c7;
    position: relative;
    width: 9px;
    height: 170px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin: 0 15px;
}

.bar {
    background-color: #05AF35;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    animation: grow 1.5s ease-out forwards;
    transform-origin: bottom;
    border-radius: 20px;
}

@keyframes grow {
    from {
        transform: scaleY(0);
    }
}

.latTask ul {
    padding: 0;
    margin-bottom: 0;
}

.latTask ul li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.TaskProgress {
    margin-top: 20px;
}

.TaskProgress .progress {width: 48%;}

.latTask {
    background: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 16px;
    margin: 20px 0;
    border-radius: 10px;
}

.dahboardContent h4 {
    font-size: 16px;
    font-weight: 600;
}

.latTask li {
    margin-top: 15px;
}

.latTask li .taskName {
    font-size: 13px;
}

.latTask li .taskName span {
    font-size: 15px;
    color: #4682a9;
    font-weight: 500;
}

.timeSpentMain {
    background: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

.dahboardContent img {
    width: 100%;
}

.verticalbarsMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.verticalbarsMain {
    margin-top: 50px;
}

.barcontainer h5 {
    font-size: 14px;
    text-align: center;
    position: relative;
    top: -30px;
    color: #0000007a;
}

.dahboardContent h3 {
    font-size: 20px;
    font-weight: 600;
}

.teamMembersSec {
    margin-top: 20px;
    margin-bottom: 30px;
}

.SuepervisorsSec {
    margin-bottom: 30px;
}

.SuepervisorFeedback h3 {
    margin-bottom: 13px;
}

.feebbackMain {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 15px;
    padding: 25px 15px;
    padding-bottom: 0;
}

.feebbackMain p {
    font-size: 14px;
    margin-bottom: 8px;
    color: #00000096;
}

.feed1 {
    padding-bottom: 30px;
}

.feebbackMain button {
    border: none;
    background: transparent;
    font-size: 15px;
    color: #4682a9;
    padding: 0;
    text-decoration: underline;
}

.latTask ul {
    padding: 0;
    margin-bottom: 0;
}

.latTask ul li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.TaskProgress {
    margin-top: 20px;
}

.TaskProgress .progress {width: 48%;}

.latTask {
    background: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 16px;
    margin: 20px 0;
    border-radius: 10px;
}


.dahboardContent h4 {
    font-size: 16px;
    font-weight: 600;
}

.latTask li {
    margin-top: 15px;
}

.latTask li .taskName {
    font-size: 13px;
}

.latTask li .taskName span {
    font-size: 15px;
    color: #4682a9;
    font-weight: 500;
}

.timeSpentMain {
    background: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

.dahboardContent img {
    width: 100%;
}

.verticalbarsMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.verticalbarsMain {
    margin-top: 50px;
}

.barcontainer h5 {
    font-size: 14px;
    text-align: center;
    position: relative;
    top: -30px;
    color: #0000007a;
}

.dahboardContent h3 {
    font-size: 20px;
    font-weight: 600;
}

.teamMembersSec {
    margin-top: 20px;
    margin-bottom: 30px;
}

.SuepervisorsSec {
    margin-bottom: 30px;
}

.SuepervisorFeedback h3 {
    margin-bottom: 13px;
}

.feebbackMain {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 15px;
    padding: 25px 15px;
    padding-bottom: 0;
}

.feebbackMain p {
    font-size: 14px;
    margin-bottom: 8px;
    color: #00000096;
}

.feed1 {
    padding-bottom: 30px;
}

.feebbackMain button {
    border: none;
    background: transparent;
    font-size: 15px;
    color: #4682a9;
    padding: 0;
    text-decoration: underline;
}

.stdDashSec2 .head h5 {
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
    padding-left: 18px;
    margin: 0;
}

.stdDashSec2 .card {
    margin-top: 30px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: none;
    padding: 14px;
}

.stdDashSec2 .head h5:before {
    content: '';
    width: 8px;
    height: 8px;
    background: red;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 5px;
}

.stdDashSec2 {
    margin-top: 20px;
}

.stdDashSec2 .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #00000014;
    padding-bottom: 12px;
}

.stdDashSec2 .head button {
    border: none;
    border-radius: 50%;
    color: #4682a9;
    /* width: 15px; */
    /* height: 15px; */
    padding: 3px 10px;
    /* line-height: 0; */
    text-align: center;
    font-size: 19px;
}

.stdDashSec2 .task {
    background: #4682a973;
    border-radius: 20px;
    width: fit-content;
    padding: 3px 24px;
    font-size: 15px;
    text-transform: capitalize;
}

.stdDashSec2 p.dscrpt {
    font-size: 13px;
    margin-bottom: 0;
}

.stdDashSec2 .card:hover {
    background: #4682a9;
    transition: 0.4s ease-in;
}

.stdDashSec2 .card:hover p {
    color: white;
}
.stdDashSec2 .card:hover h4 {
    color: white;
}

.stdDashSec2 .card:hover p.task {
    background: black;
}
.stdDashSec2 .head h5 {
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
    padding-left: 18px;
    margin: 0;
}

.stdDashSec2 .card {
    margin-top: 30px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: none;
    padding: 14px;
}

.stdDashSec2 .head h5:before {
    content: '';
    width: 8px;
    height: 8px;
    background: red;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 5px;
}

.stdDashSec2 {
    margin-top: 20px;
}

.stdDashSec2 .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #00000014;
    padding-bottom: 12px;
}

.stdDashSec2 .head button {
    border: none;
    border-radius: 50%;
    color: #4682a9;
    /* width: 15px; */
    /* height: 15px; */
    padding: 3px 10px;
    /* line-height: 0; */
    text-align: center;
    font-size: 19px;
}

.stdDashSec2 .task {
    background: #4682a973;
    border-radius: 20px;
    width: fit-content;
    padding: 3px 24px;
    font-size: 15px;
    text-transform: capitalize;
    margin-bottom: 0;
}

.stdDashSec2 p.dscrpt {
    font-size: 13px;
    margin-bottom: 0;
}

.stdDashSec2 .card:hover {
    background: #4682a9;
    transition: 0.4s ease-in;
}

.stdDashSec2 .card:hover p {
    color: white;
}
.stdDashSec2 .card:hover h4 {
    color: white;
}

.stdDashSec2 .card:hover p.task {
    background: black;
}

.stdDashSec2 .card .uppersec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stdDashSec2 .card .uppersec img {
    width: 30px;
    margin: 0 auto;
    margin-right: 0;
}

.stdDashSec2 .card .uppersec button {
    background: transparent;
    border: none;
    padding: 0;
}
.stdDashSec2 .head h5 {
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
    padding-left: 18px;
    margin: 0;
}

.stdDashSec2 .card {
    margin-top: 30px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: none;
    padding: 14px;
}

.stdDashSec2 .head h5:before {
    content: '';
    width: 8px;
    height: 8px;
    background: red;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 5px;
}

.stdDashSec2 {
    margin-top: 20px;
}

.stdDashSec2 .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #00000014;
    padding-bottom: 12px;
}

.stdDashSec2 .head button {
    border: none;
    border-radius: 50%;
    color: #4682a9;
    /* width: 15px; */
    /* height: 15px; */
    padding: 3px 10px;
    /* line-height: 0; */
    text-align: center;
    font-size: 19px;
}

.stdDashSec2 .task {
    background: #4682a973;
    border-radius: 20px;
    width: fit-content;
    padding: 3px 24px;
    font-size: 15px;
    text-transform: capitalize;
    margin-bottom: 0;
}

.stdDashSec2 p.dscrpt {
    font-size: 13px;
    margin-bottom: 0;
}

.stdDashSec2 .card:hover {
    background: #4682a9;
    transition: 0.4s ease-in;
}

.stdDashSec2 .card:hover p {
    color: white;
}
.stdDashSec2 .card:hover h4 {
    color: white;
}

.stdDashSec2 .card:hover p.task {
    background: black;
}

.stdDashSec2 .card .uppersec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stdDashSec2 .card .uppersec img {
    width: 30px;
    margin: 0 auto;
    margin-right: 0;
}

.stdDashSec2 .card .uppersec button {
    background: transparent;
    border: none;
    padding: 0;
}

.stdDashSec2 {
    display: flex;
    flex-wrap: wrap;
}

.stdDashSec2 .col-4 {
    margin: 0 7px;
    width: 31%;
}

.pending h5:before {
    background: #ffc107 !important;
}

.cmpleted h5:before {
    background: #198754 ! IMPORTANT;
}

/* prev projects */

.prevProjectMain th {
    font-size: 14px;
    color: black;
}

.prevProjectMain th:nth-child(1) {
    width: 15%;
}

.prevProjectMain th:nth-child(2) {
    width: 18%;
}

.prevProjectMain th:nth-child(3) {
    width: 16%;
}

.prevProjectMain th:nth-child(4) {
    width: 16%;
}

.prevProjectMain th:nth-child(5) {
    width: 26%;
}

.prevProjectMain td {
    font-size: 14px;
}

.prevProjectMain td:nth-child(5) {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-bottom: 4px;
}

.prevProjectMain td:nth-child(6) {margin: 0 auto;text-align: center;}

.prevProjectMain td:nth-child(6) button {
    border: none;
    background: #E7EAEE;
    border-radius: 5px;
    padding: 8px 20px;
}

.prevProjectMain td:nth-child(6) button:Hover {
    background: #4682a9;
    color: white;
}

/* submission */

#heading {
    text-transform: uppercase;
    color: #673AB7;
    font-weight: normal
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

.form-card {
    text-align: left
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform input,
#msform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #673AB7;
    outline-width: 0
}

#msform .action-button {
    width: 100px;
    background: #673AB7;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right
}

#msform .action-button:hover,
#msform .action-button:focus {
    background-color: #311B92
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #000000
}

.card {
    z-index: 0;
    border: none;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #673AB7;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

.purple-text {
    color: #673AB7;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.fieldlabels {
    color: gray;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #673AB7
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f13e"
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f030"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #673AB7
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #673AB7
}

.fit-image {
    width: 100%;
    object-fit: cover
}

/* submit Proposal */

.submitProposalMain {
    padding: 0 20px;
}

.submitProposalMain form {
    padding-top: 20px;
}

.submitProposalMain form .row {
    margin-bottom: 27px;
}

.submitProposalMain form label {
    padding-bottom: 8px;
}

.submitProposalMain form input::placeholder {
    color: #D0D5DD;
}
.submitProposalMain form textarea::placeholder {
    color: #D0D5DD;
}
.submitProposalMain form select::placeholder {
    color: #D0D5DD;
}

.submitProposalMain button {
    background: #4682a9;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 40px;
}
.subStatus span {
    color: red;
}

.subStatus {margin: 20px 0;}

/* supervisor proposal */

.accordion {
    width: 100%;
}

.accordion .accordion-item {
    margin-bottom: 35px;
    background: white;
    border-radius: 15px;
    padding: 20px 24px;
}

.accordion .accordion-item {
    width: 100%;
}

.accordion .accordion-item .accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion .accordion-item .accordion-header h3 {
    margin: 0;
    font-size: 22px;
}

.accordion .accordion-item .accordion-header p {
    margin: 0;
}

.pStatus {
    background: #e0090985;
    color: white !important;
    padding: 6px 15px;
    border-radius: 8px;
}

.accordion-arrow {
    border: none;
    background: #4682a9;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.accordion-content {
    padding-top: 18px;
}

.accordion-buttons button {
    margin-right: 20px !IMPORTANT;
    border: none;
    padding: 8px 24px;
    border-radius: 10px;
    background: #ff0000b8;
    color: white;
}

.statusApv {
    background: #09E039 !important;
}

.accordion-content p {
    font-size: 15px;
}

.tabs .tab:hover {
    cursor: pointer;
}

.tabs-container .tabs {
    display: flex;
}

.tabs-container .tabs .tab {
    margin-right: 30px;
    color: #707070;
}

.tabs-container {
    padding-top: 10px;
}

.tab-content {
    margin-top: 30px;
}

.ProposalsMaainn {
    padding: 0 30px;
}


.tabs-container .tabs .tab.active {
    color: black;
    font-weight: 500;
}

.open {
    background: #4682a9 ! IMPORTANT;
}

.open .accordion-header h3 {
    color: white;
}

.open .accordion-header p {
    color: white;
}
.open .accordion-content p {
    color: white;
}


.open .accordion-arrow {
    background: black;
}